<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static" stopProcessing="true">
          <match url="^(?!.*\.js$|.*\.json$|.*\.css$|.*\.png$|.*\.jpg$|.*\.gif$|.*\.svg$|.*\.woff$|.*\.woff2$|.*\.ttf$|.*\.eot$)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="nodejs">
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode>
      <access />
    </iisnode>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="31536000" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Cache-Control" value="public, max-age=31536000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
